# ‚òÄÔ∏è Solar Radiation Data Analysis ‚Äî Benin üáßüáØ

In [5]:
#all imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [6]:
#suppress all warnings
warnings.filterwarnings("ignore")

## üìä 1. Introduction & Objective

## üì¶ 2. Data Loading & Overview

#### Loading Data

In [8]:
#load the data from the github repo or #using locally stored dataset
df=pd.read_csv('../data/benin-malanville.csv')
df

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

#### Data Overview

In [9]:
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [10]:
df.tail()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [11]:
df.sample(10)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
259822,2022-02-05 10:23,606.1,343.7,366.4,649.2,634.7,23.8,16.2,5.6,8.2,1.3,68.9,13.0,999,0,0.0,39.5,31.3,NaN
242119,2022-01-24 03:20,-5.0,-1.0,-3.8,0.0,0.0,16.0,36.5,0.0,0.0,0.0,0.0,0.0,996,0,0.0,13.8,13.5,NaN
374835,2022-04-26 07:16,83.1,98.6,64.2,61.9,60.7,28.4,66.7,2.9,3.9,0.5,248.5,17.6,992,0,0.0,31.6,29.6,NaN
202848,2021-12-27 20:49,-5.9,-0.9,-8.6,0.0,0.0,24.5,23.1,1.5,1.9,0.4,34.1,7.2,997,0,0.0,21.1,21.2,NaN
1986,2021-08-10 09:07,301.3,6.0,295.6,263.6,265.1,27.2,86.1,2.7,3.6,0.6,241.3,10.2,998,0,0.0,39.3,36.6,NaN
513169,2022-07-31 08:50,40.0,-0.2,39.7,43.4,43.3,21.4,96.3,4.6,6.4,1.0,246.2,12.2,995,0,0.0,22.1,21.4,NaN
319583,2022-03-18 22:24,-7.4,-0.7,-8.6,0.0,0.0,29.4,29.6,0.0,0.0,0.0,0.0,0.0,992,0,0.0,27.7,26.6,NaN
300224,2022-03-05 11:45,878.0,564.0,351.3,896.0,882.0,34.8,18.4,3.0,4.4,1.0,350.1,14.1,992,0,0.0,65.8,54.1,NaN
226231,2022-01-13 02:32,-1.8,-0.6,-1.6,0.0,0.0,14.5,55.8,0.0,0.0,0.0,0.0,0.0,996,0,0.0,12.9,11.9,NaN
183508,2021-12-14 10:29,684.2,802.0,128.8,780.7,724.5,28.3,17.5,3.5,4.6,0.6,106.9,11.6,996,0,0.0,52.1,39.0,NaN

In [12]:
#shape of the dataset
df.shape

(525600, 19)

In [ ]:
#list of columns of the dataset
df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

## üîç 3. Missing Values Analysis

### Summary Statistics & Missing-Value Report

## üìê 4. Data Types & Basic Stats

## üßπ 5. Data Cleaning

### Outlier Detection & Basic Cleaning

### Cleaning Impact

## üìà 6. Univariate Analysis (Single Variable)

## üìâ 7. Bivariate/Multivariate Analysis

### Temperature Analysis

### Correlation & Relationship Analysis

### Bubble Chart

### Wind & Distribution Analysis

## üìÖ 9.  Time Series Trends

### Time Series Analysis

## üß† 10. Key Insights

## üîö 11. Conclusion & Next Steps