# üåç Solar Potential Comparison: Benin üáßüáØ | Sierra Leone üá∏üá± | Togo üáπüá¨

*Evaluating Global Horizontal Irradiance (GHI), Direct Normal Irradiance (DNI), and Diffuse Horizontal Irradiance (DHI) for strategic solar deployment.*

In [10]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway, kruskal
import warnings

In [11]:
#suppress all warnings
warnings.filterwarnings("ignore")



## üìå1. Introduction

Welcome to the **Cross-Country Solar Potential Analysis** ‚Äî a project developed as part of the **10 Academy Week 1 Challenge** for candidates aspiring to join the 12-week intensive training in:

- üõ†Ô∏è **Data Engineering (DE)**
- üìä **Financial Analytics (FA)**
- ü§ñ **Machine Learning Engineering (MLE)**

This notebook focuses on **analyzing and comparing solar radiation data** from three West African countries: **Benin**, **Sierra Leone**, and **Togo**. Using exploratory data analysis, statistical comparisons, and visualization techniques, we aim to:

- Assess **solar energy potential** across countries,
- Identify key **variations and patterns**, and
- Deliver **insights** to guide strategic solar investments for **MoonLight Energy Solutions**.

---

## üß≠ Background

üåû **MoonLight Energy Solutions** is on a mission to scale clean energy deployment by identifying the most promising regions for **solar installation**. This project supports that mission by evaluating environmental data collected in **Benin**, **Sierra Leone**, and **Togo**, including:

- ‚òÄÔ∏è **GHI (Global Horizontal Irradiance)** ‚Äì Total solar radiation on a horizontal surface
- üîÜ **DNI (Direct Normal Irradiance)** ‚Äì Direct solar radiation perpendicular to the sun‚Äôs rays
- üå§Ô∏è **DHI (Diffuse Horizontal Irradiance)** ‚Äì Solar radiation received indirectly

Other recorded environmental variables include **air temperature**, **humidity**, **wind speed**, **precipitation**, and **sensor cleaning events**.

üìà This notebook will:
- Visualize solar metrics across countries using **boxplots** and **bar charts**
- Compare country-level averages with a **summary statistics table**
- Run statistical tests like **ANOVA** or **Kruskal‚ÄìWallis** to check for significant differences
- Summarize key takeaways to support **data-driven decision-making**

---

## üì¶ 2. Data Loading & Overview  <a id= '2-data-loading--overview'></a>

‚û§ Load data

In [12]:
benin = pd.read_csv('../data/benin_clean.csv')
togo = pd.read_csv('../data/togo_clean.csv')
sl = pd.read_csv('../data/sierraleone_clean.csv')

‚û§ Add a country label to each DataFrame

In [13]:
benin['country'] = 'Benin'
togo['country'] = 'Togo'
sl['country'] = 'Sierra Leone'

‚û§ Add a country label to each DataFrame

In [14]:
benin['country'] = 'Benin'
togo['country'] = 'Togo'
sl['country'] = 'Sierra Leone'

‚û§ Concatenate

In [15]:
df = pd.concat([benin, togo, sl], ignore_index=True)

In [16]:
df.sample(10)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,country
631966,2022-01-06 20:47:00,0.000,0.000,0.000,0.000,0.000,26.3,24.0,1.9,2.4,0.4,1.8,6.6,978,0,0.0,23.1,23.6,Togo
544593,2021-11-07 04:34:00,0.000,0.000,0.000,0.000,0.000,23.8,86.3,2.1,2.4,0.3,242.5,6.4,974,0,0.0,22.8,22.4,Togo
488377,2022-10-04 03:38:00,0.000,0.000,0.000,0.000,0.000,23.1,96.5,1.6,2.4,0.5,63.2,12.0,999,0,0.0,22.9,23.2,Benin
1407975,2022-07-04 18:16:00,2.851,1.686,2.815,2.791,2.741,25.5,91.9,2.6,3.6,0.6,260.6,11.9,1001,0,0.0,26.7,27.1,Sierra Leone
838413,2022-05-30 05:34:00,1.700,0.000,1.900,3.600,3.500,26.6,81.5,1.0,1.9,0.6,234.0,8.1,975,0,0.0,25.9,25.5,Togo
598802,2021-12-14 20:03:00,0.000,0.000,0.000,0.000,0.000,26.1,27.9,0.6,1.1,0.6,109.7,2.6,975,0,0.0,23.0,22.9,Togo
1398838,2022-06-28 09:59:00,4.662,0.095,4.643,4.741,4.723,22.3,98.6,0.6,1.4,0.6,187.8,6.1,1004,0,0.0,24.4,24.6,Sierra Leone
911010,2022-07-19 15:31:00,177.000,2.300,169.300,181.100,179.600,28.0,69.6,4.3,5.9,0.7,267.8,12.7,975,0,0.0,33.1,33.6,Togo
627318,2022-01-03 15:19:00,107.100,0.000,112.700,106.300,103.800,26.2,22.4,3.2,4.1,0.6,85.7,12.0,977,0,0.0,28.4,28.7,Togo
632183,2022-01-07 00:24:00,0.000,0.000,0.000,0.000,0.000,23.5,25.1,2.0,3.4,0.6,31.8,12.9,978,0,0.0,22.3,22.3,Togo